{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<style>
    .container {
        padding: 10px;
    }

    .card {
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
    }

    table {
        text-align: center;
        width: 100%;
        border-collapse: collapse;
    }
</style>

<div class="container">
    <h1>Welcome to the dashboard </h1>
    <div class="card">
        <table>
            <thead>
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">Task</a></td>
                <td><a href="#">Task Desc</a></td>
                <td><a href="#">Due Date</a></td>
            </tr>
            <tr>
                <td><a href="#">Task</a></td>
                <td><a href="#">Task Desc</a></td>
                <td><a href="#">Due Date</a></td>
            </tr>
            <tr>
                <td><a href="#">Task</a></td>
                <td><a href="#">Task Desc</a></td>
                <td><a href="#">Due Date</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}