{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<style>
    body {
        text-decoration: none;
    }

    .container {
        padding: 10px;
    }

    .card {
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
    }

    table {
        text-decoration: none;
        text-align: center;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        text-decoration: none;
    }

    #accountOverlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    #overlayContent {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="container">
    <h1>Welcome to the dashboard</h1>
    <div class="card">
        <button onclick="addAccount()">Add Account</button>
        <div style="overflow-x:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% if all_tasks %}
                        {% for task in all_tasks %}
                            <tr>
                                <td><a href="{{ url_for('views.update_task', task_id=task['id']) }}">{{ task.title }}</a></td>
                                <td><a href="{{ url_for('views.update_task', task_id=task['id']) }}">{{ task.description }}</a></td>
                                <td><a href="{{ url_for('views.update_task', task_id=task['id']) }}">{{ task.due_date }}</a></td>
                                <td><a href="{{ url_for('views.delete_task', task_id=task['id']) }}">delete</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No tasks available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="accountOverlay">
        <div id="overlayContent">
            <form action="{{ url_for('views.create_task') }}" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <br>
                    <input type="text" name="title" id="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <br>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="due_date">Due Date</label>
                    <br>
                    <input type="date" name="due_date" id="due_date">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function addAccount() {
        var overlay = document.getElementById('accountOverlay');
        if (overlay.style.display === 'none' || overlay.style.display === '') {
            overlay.style.display = 'flex';
        } else {
            overlay.style.display = 'none';
        }
    }
</script>
{% endblock %}
