{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<style>
    .container {
        text-align: center;
        margin-top: 200px;
    }

    .btn {
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 7px;
    }

    .btn-login {
        background-color: #7BD3EA;
        border: 2px solid #7BD3EA;
    }

    .btn-login a {
        color: white;
    }

    .btn-register {
        background-color: white;
        border: 2px solid black;
        color: black;
    }

    .btn-register a{
        color: black;
    }

    a {
        text-decoration: none;
    }
</style>
<div class="container">
    <h1>Home</h1>
    <p>Welcome to the Journal</p>
    <div class="button-group">
        <button class="btn btn-login">
            <a href="/login" >Login</a>
        </button>
        <button class="btn btn-register">
            <a href="/register">Register</a>
        </button>
    </div>
</div>
{% endblock %}