<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .card {
            padding: 10px;

        }
    </style>

</head>
<body>
<div class="container">
    <div class="card">
        <form action="/login" method="post">
            <div class="form-element">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-element">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>