{% extends "base.html" %}

{% block title %}
Edit Task
{% endblock %}

{% block content %}
<style>
    .container {
        display: flex;
        text-align: center;
        margin-top: 200px;
        justify-content: center;
        align-items: center;
    }

    form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-group {
        text-align: left;
    }

    .form-element {
        padding-bottom: 5px;
    }

    button {
        width: 100%;
        max-width: 100%;
        padding: 7px;
        border: 1px solid #7BD3EA;
        border-radius: 5px;
        background-color: #7BD3EA;
        color: white;
    }

    input, text-area {
        width: 100%;
    }
</style>

<div class="container">
    <div class="card">
        <h1>Edit Task</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <div class="form-element">
                    <label for="title">Title</label>
                    <br>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-element">
                    <label for="description">Password</label>
                    <br>
                    <textarea id="description" name="description" required>Description</textarea>
                </div>
                <div class="form-element">
                    <label for="due_date">Due Date</label>
                    <br>
                    <input type="date" id="due_date" name="due_date" required>
                </div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}